
body{
    margin: 0px;
   
    
}

header{
    display: flex;
    border: 1px solid darkorange;
    background-color: #000000;
    height: 60px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 200px;
    height: 50px;
    background-color:orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
button:hover{
    background-color: darkorange;
}

#content{
    border: 1px solid black;
    background-image: url(./img/logo.png);
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    padding: 10px;
    height: auto;
    min-height: 100vh;
}

.container{
    padding: 10px;
    display: block;
    border: 1px solid orange;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.96);
    color: white;
    border-radius: 20px;
}

#firstSection{
    width: 100%;
    height: 60px;
    display: block;
    font-size: 3rem;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    align-content: center;
    color: red;
    font-weight: bold;

}

.resturantDescription{
    color: orange;
    margin: 10px;
}

#openingHoursSection{
    margin: 10px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    /* justify-content: center; */
    display: flex;
}

h2{
    color: red;
}
ul{
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: orange;

    list-style: none;
    padding: 0;
}

li{
 font-size: 18px;
    margin: 5px 0;
    color: green;
}

menu{
    justify-content: center;
    display: flex;
}

.buttonsDiv{
    display: flex;
    justify-content: center;
}


img {
    border-radius: 8px;
    margin: 20px;
}

.menu-button{
    background-color: black;
    color: white;
    height: 40px;
    width: 250px;
    border-bottom: 1px solid orange;
}
.menuImages{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 220px;
    max-height: 220px;
    border-radius: 10px;
    border: 2px solid darkgoldenrod;
}

.menu-item{
    display: flex;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 153, 0, 0.214);
    box-shadow: 0px -4px 10px rgba(220, 161, 0, 0.284);
}

.titleandDescription{
    margin: 10px;
    text-align: center;
}

.priceBox{
    background-color: darkorange;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
    margin: 10px;
    padding: 10px;
    height: 30px;
    line-height: 30px;
    margin-top: 195px;
    
}